<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>App-Aioli {% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ asset('build/images/aioli-favicon.png') }}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="/public/build/global.css">
    {{ encore_entry_link_tags('app') }}

    {% block stylesheets %}{% endblock %}
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            {% include 'navigation.html.twig' %}
        </div>
        <div class="col-6">

            <div class="row">
                {% block categoriePie %}
                {% endblock %}
            </div>
            <div class="row">
                {% block toutesCategoriesPie %}
                {% endblock %}
            </div>
            <div class="row">
                {% block totauxColonnePV %}
                {% endblock %}
            </div>
        </div>
        <div class="col-3">
            {% block filtres %}
                {% include 'statistique/filtre.html.twig' %}
            {% endblock %}
        </div>
    </div>
</div>

{{ encore_entry_script_tags('app') }}
{{ encore_entry_script_tags('nav') }}

{% block body %}{% endblock %}
</body>

</html>