{% extends 'statistique/basestat.html.twig' %}

{% block title %}{{ parent() }} | Statistiques{% endblock %}


{% block categoriePie %}
    <div class="container">
        <div id="div_chart"></div>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            {% if categoriePie != NULL %}
            {{ gc_draw(categoriePie, 'div_chart') }}
            {% endif %}
        </script>
    </div>
{% endblock %}

{% block toutesCategoriesPie %}
    <div class="container">
        <div id="div_chart2"></div>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            {% if toutesCategoriesPie != NULL %}
            {{ gc_draw(toutesCategoriesPie, 'div_chart2') }}
            {% endif %}
        </script>
    </div>
{% endblock %}

{% block totauxColonnePV %}
    <div class="container">
        <div id="div_chart3"></div>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            {% if totauxColonnePV != NULL %}
               {{ gc_draw(totauxColonnePV, 'div_chart3') }}
            {% endif %}
        </script>
    </div>
{% endblock %}

{% block body %}
{% endblock %}
