{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Modifier Utilisateur{% endblock %}

{%  block body %}
    <div class="h-25"></div>
    <div class="container">
        <h1 class="titre mb-5 text-center"> Modifier le profil</h1>
        <div id="form">
            {{  form_start(form) }}
            <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            </div>
            {{ form_widget(form.password) }}
            <button type="submit" class="btn btn-primary bouton">Modifier</button>
            {{ form_end(form) }}
            <svg class="bi" width="32" height="32" fill="currentColor">
                <use xlink:href="bootstrap-icons.svg#heart-fill"/>
            </svg>
        </div>
    </div>
{%  endblock %}