<div id="fiche-inde" class="row mr-3 ml-3 mt-5 justify-content-center w-auto" style="display: none">
    {%  if not mobile %}
    <div>
    {%  endif %}
    <h3 class="mb-3 text-primary mt-1" id="nom-inde-periode">Pierre Machin</h3>
{%  if mobile %}
        <div class="row w-100">
            <div class="col">
{%  endif %}
        <div class="input-group input-group-sm mb-3  ml-1 w-auto" >
            <div class="input-group-prepend">
                <p class="input-group-text w-auto h-auto">Nombres d'heures : </p>
            </div>
            <p id="heure-periode" class="form-control input-filtres w-auto h-auto">35H</p>
        </div>

        <div class="input-group input-group-sm mb-3 ml-1 w-auto">
            <div class="input-group-prepend">
                <p class="input-group-text w-auto h-auto">Nombres de missions : </p>
            </div>
            <p id="nb-projets-periode" class="form-control input-filtres w-auto h-auto">35H</p>
        </div>
        {%  if mobile %}
            </div>
            <div class="col">
        {%  endif %}
        <div class="input-group input-group-sm mb-3  ml-1  w-auto h-auto">
            <div class="input-group-prepend">
                <p class="input-group-text  w-auto h-auto">Coût Total : </p>
            </div>
            <p id="cout-periode" class="form-control input-filtres  w-auto h-auto">500 €</p>
        </div>
        <div class="input-group input-group-sm mb-3  ml-1  w-auto h-auto">
            <div class="input-group-prepend">
                <p class="input-group-text  w-auto h-auto">Prix de vente : </p>
            </div>
            <p id="pv-periode" class="form-control input-filtres  w-auto h-auto">500 €</p>
        </div>
                {%  if mobile %}
            </div>
            <div class="col">
                {%  endif %}
        <div class="input-group input-group-sm mb-3  ml-1  w-auto h-auto">
            <div class="input-group-prepend">
                <p class="input-group-text  w-auto h-auto">Ratio : </p>
            </div>
            <p id="ratio-periode" class="form-control input-filtres  w-auto h-auto">30 %</p>
        </div>

        {%  if mobile %}
            </div>
        {%  endif %}

        </div>



        </div>
