
<div id="filtres" class="row mr-3 justify-content-center"
     {%  if mobile %}
        data-mobile="true"
     {% else %}
     data-mobile="false"
     {%  endif %}
     data-categorie="null"
     data-perio="null"
     data-independant="null"
     data-mot-cle="null"
     data-month1="{{ "now" | date("m") }}"
     data-year1="{{ "now" | date("Y") }}"
     data-month2="{{ "now + 3month" | date("m") }}"
     data-year2="{{ "now" | date("Y") }}"
     data-previsionnel="all"
>
    <div class="col"></div>
    <div class="col-11"
    >
    <form class="form-inline w-100" id="form-filtre">

            <h1 class="text-center w-100 mb-3 text-primary">Filtres</h1>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <label for="categorie" class="input-group-text w-100" id="cate-label">Catégorie</label>
                </div>
                <select id="categorie" class="custom-select input-filtres">
                    <option value="0">Toutes les catégorie</option>
                </select>
            </div>


            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <label for="perio" class="input-group-text">Périodicité</label>
                </div>
                <select id="perio"  class="form-control custom-select mb-3 input-filtres">
                    <option value="0">Toutes les périodicités</option>
                </select>
            </div>


            <div class="input-group input-group-sm mb-3 ">
                <div class="input-group-prepend">
                    <label for="inde" class="input-group-text">Indépendant</label>
                </div>
                <select id="inde"  class="form-control custom-select input-filtres">
                    <option value="0">Tous les indépendant</option>
                </select>
            </div>

        <div class="input-group input-group-sm mb-3 ">
            <div class="input-group-prepend">
                <label for="previ" class="input-group-text">Prévisionnel</label>
            </div>
            <select id="previsionnel"  class="form-control custom-select input-filtres">
                <option value="all" selected>Tout afficher</option>
                <option value="non-previ">Projets vendus</option>
                <option value="previ" >Projets prévisionnel</option>
            </select>
        </div>


            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <label for="mot-cle" class="input-group-text">Recherche</label>
                </div>
                <input type="text" placeholder="Recherche par mots-clés" id="mot-cle" class="form-control w-auto input-filtres">
            </div>

            <div class="input-group input-group-sm mb-3" >
                <div class="input-group input-group-sm">
                <div class="input-group-prepend ">
                    <span class="input-group-text w-auto">Du</span>
                </div>
                    <div class="input-group input-group-sm" >
                <select id="month-begin"  class="form-control custom-select" style="width: min-content">
                    <option>{{ "now" | date("m") }}</option>
                </select>
                <select id="year-begin" class="form-control custom-select"style="width: min-content">
                    <option>{{ "now" | date("y") }}</option>
                </select>
                    </div>
                </div>
                <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text w-auto">Au</span>
                </div>
                    <div class="input-group input-group-sm">
                <select id="month-end"  class="form-control custom-select" style="width: min-content">
                    <option>{{ "now + 3month" | date("m") }}</option>
                </select>
                <select id="year-end"  class="form-control custom-select  input-filtres" style="width: min-content">
                    <option>{{ "now" | date("y") }}</option>
                </select>
                    </div>
                </div>
            </div>
            <div class="">
                <button class="btn btn-primary mb-3 mr-3" id="filtrer" type="submit">Filtrer</button>

                <button class="btn btn-primary mb-3" id="3months">Afficher les 3 prochains mois</button>
            </div>

        {% if is_granted("ROLE_ADMIN") == true %}
            <div>

                <input type="checkbox" id="visiPrix"/>Masquer les prix
            </div>

            <div class="js-user-admin" data-is-admin="true"></div>
            <div class="js-user-user" data-is-user="false"></div>
            
        {% endif %}
        {% if is_granted("ROLE_USER") == true %}
           
            <div>

                <input type="checkbox" id="visiPrix" checked="checked" style="display:none"/>
            </div>
            <div class="js-user-admin" data-is-admin="false"></div>
            <div class="js-user-user" data-is-user="true"></div>
        
        {% endif %}
        {% if is_granted("ROLE_RESPONSABLE") == true %}
        <div>

                <input type="checkbox" id="visiPrix" checked="checked" style="display:none"/>
            </div>
            <div class="js-user-admin" data-is-admin="false"></div>
            <div class="js-user-user" data-is-user="false"></div>
            
        
        {% endif %}


    </form>
    </div>
    <div class="col"></div>
</div>