<div id="global-cate" class="container-fluid m-2 justify-content-center w-auto" style="display: none">
    <h3 class="mb-4 text-primary mt-1" id="titre-global-cate">Catégories </h3>
    <div class="form-inline">
    {%  for categorie in categories %}
        <div class="form-inline justify-content-start mr-2" id="ligne-{{ categorie.id }}">
            <div class="input-group" input-group-sm  >
                <div class="input-group input-group-sm mb-2">
                    <p class="mr-2 titre-infos">
                        {%  if categorie.libelle =='Prestations de conseils' %}
                            Prestations
                        {%  else %}
                            {{ categorie.libelle | capitalize }}
                        {%  endif %}
                    </p>
                </div>
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend ">
                            <span class="input-group-text  h-auto">PV</span>
                        </div>
                        <span id="pv_cate_{{ categorie.id }}" class="form-control form-control-sm input-filtres money-text w-auto h-auto">15000 €</span>
                    </div>
                    <div class="input-group input-group-sm ml-1 mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text  h-auto">ROI</span>
                        </div>
                        <span id="roi_cate_{{ categorie.id }}" class="form-control input-filtres w-auto percent-text h-auto">36 %</span>
                    </div>
                </div>
            </div>
        </div>
    {%  endfor %}
    </div>
</div>