{% if is_granted("ROLE_ADMIN") == true %}
<div id="global-perio-non-previ" class="container-fluid m-3 mb-3 justify-content-center w-auto">
    <h3 class="mb-4 text-primary mt-1" id="titre-global-perio">Chiffres vendus </h3>
    <div class="form-inline">
        <div class="form-inline justify-content-start mr-2" id="ligne-non-previ-MENSUEL">
            <div class="input-group" input-group-sm  >
                <div class="input-group input-group-sm mb-2">
                    <p class="mr-2 titre-infos">Mensuel</p>
                </div>
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend ">
                            <span class="input-group-text  h-auto">PV</span>
                        </div>
                        <span id="pv-non-previ-MENSUEL" class="form-control form-control-sm input-filtres money-text w-auto h-auto">15000 €</span>
                    </div>
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend ml-1">
                            <span class="input-group-text  h-auto">ROI</span>
                        </div>
                        <span id="roi-non-previ-MENSUEL" class="form-control input-filtres w-auto percent-text h-auto">36 %</span>
                    </div>
                </div>
            </div>
        </div>
        {% else %}

        <div id="global-perio-non-previ" class="container-fluid m-3 mb-3 justify-content-center w-auto" style="display: none">
            <h3 class="mb-4 text-primary mt-1" id="titre-global-perio">Chiffres vendus </h3>
            <div class="form-inline">
                <div class="form-inline justify-content-start mr-2" id="ligne-non-previ-MENSUEL">
                    <div class="input-group" input-group-sm  >
                        <div class="input-group input-group-sm mb-2">
                            <p class="mr-2 titre-infos">Mensuel</p>
                        </div>
                        <div class="input-group input-group-sm mb-2">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend ">
                                    <span class="input-group-text  h-auto">PV</span>
                                </div>
                                <span id="pv-non-previ-MENSUEL" class="form-control form-control-sm input-filtres money-text w-auto h-auto">15000 €</span>
                            </div>
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend ml-1">
                                    <span class="input-group-text  h-auto">ROI</span>
                                </div>
                                <span id="roi-non-previ-MENSUEL" class="form-control input-filtres w-auto percent-text h-auto">36 %</span>
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}




        <div class="form-inline justify-content-start"  id="ligne-non-previ-ONESHOT">
            <div class="input-group input-group-sm" >
                <div class="input-group input-group-sm mb-2">
                    <p class="mr-2 titre-infos">Oneshot</p>
                </div>
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend ">
                            <span class="input-group-text h-auto">PV</span>
                        </div>
                        <span id="pv-non-previ-ONESHOT" class="form-control input-filtres money-text w-auto h-auto">15000 €</span>
                    </div>
                    <div class="input-group input-group-sm ml-1 mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text h-auto">ROI</span>
                        </div>
                        <span id="roi-non-previ-ONESHOT" class="form-control input-filtres w-auto percent-text h-auto">36 %</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-inline justify-content-start" id="ligne-non-previ-TOTAL">
            <div class="input-group input-group-sm" >
                <div class="input-group input-group-sm mb-2">
                    <p class="mr-2 titre-infos">Total</p>
                </div>
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend ">
                            <span class="input-group-text  h-auto">PV</span>
                        </div>
                        <span id="pv-non-previ-TOTAL" class="form-control input-filtres money-text w-auto h-auto">15000 €</span>
                    </div>
                    <div class="input-group input-group-sm ml-1 mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text  h-auto">ROI</span>
                        </div>
                        <span id="roi-non-previ-TOTAL" class="form-control input-filtres w-auto percent-text h-auto">36 %</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>