<div class="container-fluid align-middle mt-5 mb-5" id="div-general" style="position:absolute; top: 5%; left: 0; right: 0; bottom: 10%"
        {%  if mobile %}
            data-mobile="true"
        {% else %}
            data-mobile="false"
        {%  endif %}
     data-page="{{ page }}">
    {%  if not mobile %}
        {# on masque le titre et le bouton ajouter un projet, il sera dans la barre de navigation pour les mobiles#}
        <div id="titre" class="text-center" >

            <h2 class="text-center mb-5" id="titre-page">
                    <span id="btn-add-projet">
                    <button id="add_projet" title="Ajouter un projet" class="bouton btn btn-create">
                        <svg class="bi bi-plus big-plus" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                          <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                        </svg>
                    </button>
              </span>
                Ajouter un projet
            </h2>
        </div>
        <div id="create-projet" class="mb-5">

        </div>
    {%  endif %}


    {%  for type, projets in tabProjets %}

        <div class="container mb-3" id="liste_{{ type }}" data-nb-projets="{{ projets | length }}"
                {%  if projets|length == 0 %}
                    style="display: none"
                {% endif %}
        >


            <h2 class="text-center mb-5 titre" id="titre_{{ type }}">
                Projets {{ type | capitalize}}
            </h2>


            <div class="row">
                <form action="" class="w-100">
                    <table class="projet table table-sm col w-100"
                           id="list_projet_{{ type }}" {%  if type is same as ('VIDE') %}
                        style="display: none"
                            {%  endif %}>
                        <thead id="tHead_{{ type }}">
                        <tr>
                            <th  data-name="nom"  data-type="text" data-sort="0" data-column="0" data-periodicite="{{ type }}" class="trie">
                            <span id="nom_{{ type }}_up" >
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                                </svg>
                            </span>
                                <span id="nom_{{ type }}_down" style="display: none">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                                </svg>
                            </span>
                                Nom</th>
                            <th data-type="number" data-name="roi" data-sort="1" data-column="1" data-periodicite="{{ type }}" class="trie">
                            <span id="roi_{{ type }}_up" style="display: none">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                                </svg>
                            </span>
                                <span id="roi_{{ type }}_down" style="display: none">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                                </svg>
                            </span>
                             {% if is_granted('ROLE_ADMIN') %}
                                ROI</th>
                            <th data-type="number" data-name="prix-vente" data-sort="1" data-column="2" data-periodicite="{{ type }}" class="trie">
                            <span id="prix-vente_{{ type }}_up" style="display: none">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                                </svg>
                            </span>
                            {% endif %}
                            <span id="prix-vente_{{ type }}_down" style="display: none">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                                </svg>
                            </span>
                                Prix de Vente</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody id="tBody_{{ type }}">
                        {%  for projet in projets %}
                            <tr id="projet_{{ type }}_{{ projet.id }}" class="projet-ligne ligne_{{ type }}" data-nb-sous-projets="{{ projet.sousProjets | length }}">
                                <td id="nom_projet_{{ type }}_{{ projet.id }}"
                                    data-nom="{{ projet.nom }}"><h5>{{ projet.nom }}</h5></td>
                                <td id="roi_projet_{{ type }}_{{ projet.id }}"
                                    data-roi="{{ projet.roi }}"
                                    style="display:none;"
                                    class="percent-text projet-text roi

            {% if projet.roi <= 0.37 %}
            text-success
            {% else %}
            text-danger
            {% endif %}

                                ">{{  (projet.roi*100) | number_format(2,',',' ')}} %</td>
                                <td id="pv_projet_{{ type }}_{{ projet.id }}"
                                    class="money-text projet-text infos_{{ type }}"
                                    data-cost="{{ projet.coutTotal }}"
                                    data-prix-vente="{{ projet.prixVente }}"
                                    style="display:none;"
                                    data-cost-previ="{{ projet.coutTotalPrevi }}"
                                    data-pv-previ="{{ projet.prixVentePrevi }}"
                                    data-cost-non-previ="{{ projet.coutTotalNonPrevi }}"
                                    data-pv-non-previ="{{ projet.prixVenteNonPrevi }}"

                                >{{ projet.prixVente}} €</td>
                                <td id="button_projet_{{ type }}_{{ projet.id }}">
{#                                    {%  if mobile %}#}
{#                                        <button#}

{#                                                type="button"#}
{#                                                class="btn btn-nav button m-0 p-0"#}
{#                                                id="nav_projet_{{ type }}_{{ projet.id }}"#}
{#                                        >#}
{#                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg">#}
{#                                                <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>#}
{#                                            </svg>#}
{#                                        </button>#}

{#                                    {%  else %}#}

                                <span id="btns_projet_{{ type }}_{{ projet.id }}">
                                    <button
                                            id="mdf_projet_{{ type }}_{{ projet.id }}"
                                            class="btn btn-mdf button"
                                            title="Modifier"
                                            type="button">
                                        <svg class="bi bi-pencil" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                                            <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                                        </svg>
                                    </button>
                                    <button
                                            id="sup_projet_{{ type }}_{{ projet.id }}"
                                            title="Supprimer"
                                            class="bouton btn-valid-sup btn"
                                            type="button">
                                    <svg class="bi bi-trashP" width="1.5em" style="visibility: hidden" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                    </button>
                                    <button id="add_spj_{{ type }}_{{ projet.id }}"
                                            title="Ajouter un sous-projet"
                                            class="bouton btn btn-add boutons_projet_{{ type }}_{{ projet.id }}"
                                            data-nb-form="0"
                                            data-type-form="add" type="button"
                                    {% if type is not same as ('VIDE')%}
                                        style="visibility: hidden"
                                    {%  endif %}
                                    >
                                        <svg class="bi bi-plus" width="2.2em" height="2.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                          <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                                          <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                                        </svg>
                                    </button>
                                    <button
                                        id="trie_alpha_spj_{{ type }}_{{ projet.id }}"
                                        title="Trier par désignation"
                                        class="bouton btn btn-trie-spj boutons_projet_{{ type }}_{{ projet.id }}"
                                        data-sort="0"
                                        data-type="text"
                                        style="visibility: hidden">
                                       <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-sort" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                          <path fill-rule="evenodd" d="M4 14a.5.5 0 0 0 .5-.5v-11a.5.5 0 0 0-1 0v11a.5.5 0 0 0 .5.5z"/>
                                          <path fill-rule="evenodd" d="M6.354 4.854a.5.5 0 0 0 0-.708l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L4 3.207l1.646 1.647a.5.5 0 0 0 .708 0z"/>
                                          <path d="M9.664 7l.418-1.371h1.781L12.281 7h1.121l-1.78-5.332h-1.235L8.597 7h1.067zM11 2.687l.652 2.157h-1.351l.652-2.157H11zM9.027 14h3.934v-.867h-2.645v-.055l2.567-3.719v-.691H9.098v.867h2.507v.055l-2.578 3.719V14z"/>
                                       </svg>
                                    </button>
                                    <button
                                        id="trie_numeric_spj_{{ type }}_{{ projet.id }}"
                                        title="Trier par date"
                                        class="bouton btn btn-trie-spj boutons_projet_{{ type }}_{{ projet.id }}"
                                        data-sort="1"
                                        data-type="date"
                                        style="visibility: hidden">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-sort" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                          <path fill-rule="evenodd" d="M4 2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-1 0v-11A.5.5 0 0 1 4 2z"/>
                                          <path fill-rule="evenodd" d="M6.354 11.146a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L4 12.793l1.646-1.647a.5.5 0 0 1 .708 0z"/>
                                          <path d="M9.598 5.82c.054.621.625 1.278 1.761 1.278 1.422 0 2.145-.98 2.145-2.848 0-2.05-.973-2.688-2.063-2.688-1.125 0-1.972.688-1.972 1.836 0 1.145.808 1.758 1.719 1.758.69 0 1.113-.351 1.261-.742h.059c.031 1.027-.309 1.856-1.133 1.856-.43 0-.715-.227-.773-.45H9.598zm2.757-2.43c0 .637-.43.973-.933.973-.516 0-.934-.34-.934-.98 0-.625.407-1 .926-1 .543 0 .941.375.941 1.008zM12.438 14V8.668H11.39l-1.262.906v.969l1.21-.86h.052V14h1.046z"/>
                                        </svg>
                                    </button>
                                </span>
                                </td>
                            </tr>
{#                                    {%  endif %}#}
                        {% endfor %}

                        </tbody>
                    </table>
                </form>

            </div>

        </div>
    {% endfor %}

</div>
{%  if mobile %}
    <div id="creation-projet" style="display: none">
    <div  class="container-fluid" style="min-height: 25vh"></div>
    <div id="create-projet">
    </div>
    </div>
{%  endif %}