{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Accueil{% endblock %}

{%  block javascripts %}
    {{ encore_entry_script_tags('pageProjet') }}
    {{ encore_entry_script_tags('filtre') }}

{%  endblock %}
{% block body %}
    {# Affichage de la liste #}
    {{ include('projet/liste.html.twig') }}
{%  if mobile %}

    {# version mobile on travaille en onePage pour les projets#}
    {# pages des filtres et des infos#}
        <div id="les-filtres" style="display: none ; position:absolute; top: 5%; left: 0; right: 0; bottom: 10%">
            <div class="container-fluid" style="min-height: 25vh"></div>

            {%  include 'projet/filtre.html.twig' %}

        </div>
        <div id="les-infos" style="display: none ; position:absolute; top: 5%; left: 0; right: 0; bottom: 10%">


            {%  include'projet/ficheInde.html.twig' %}
            {%  include'projet/globalCate.html.twig' %}
            {%  include'projet/globalPerio.html.twig' %}

        </div>
{%  endif %}
{% endblock %}


    {# version desktop tous les blocks sont visibles sur la page#}
{% block colonneD %}
    {%  if not mobile %}
    <div class="row"></div>

    {%  include 'projet/filtre.html.twig' %}
    {%  include'projet/ficheInde.html.twig' %}

    {%  endif %}
{%  endblock %}



{%  block colonneG %}
    {%  if not mobile %}
    {%  include'projet/globalPerio.html.twig' %}
    {%  include'projet/globalPerioHorsPrevi.html.twig' %}
    {%  include'projet/globalCate.html.twig' %}
    {%  endif %}
{% endblock %}

