<table class="sousProjets table table-sm table-borderless">
    <thead>
    <tr>
        <th colspan="2">
            <button title="Ajouter un sous-projet" class="bouton btn btn-add-spj">
                <svg class="bi bi-plus-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">em
                    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                </svg>
            </button>
            Désignation</th>
        <th>Catégorie</th>
        <th>PV</th>
        <th>ROI</th>
    </tr>
    </thead>
    <tbody>
    {% for spj in projet.sousProjets %}

        <tr style="border-top: #0b2e13 solid 1px">
            <td></td>
            <td>{{ spj.designation }}</td>
            <td>{{  spj.categorie.libelle }}</td>
            <td>{{  spj.prixVente }} €</td>
            <td>{{  spj.roi  | number_format(2,',',' ')}}</td>
            <td>
                <span>
                    <button class="btn btn-mdf-spj button">Modifier</button>
                    <button class="btn button btn-sup-spj">Supprimer</button>
                    <button class="btn btn-dplq">Dupliquer</button>
                </span>
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <button title="Ajouter une prestation" class="bouton btn btn-add-presta">
                    <svg class="bi bi-plus-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    </svg>
                </button>

                Autres prestations</th>
            {%  if spj.autrePrestations is not empty %}
                {%  for autrePresta in spj.autrePrestations %}
                    <td>{{ autrePresta.detail}} </td>
                    <td>{{ autrePresta.montant}} €</td>
                    <td>
                                                    <span>
                                                        <button class="btn btn-mdf-spj button">Modifier</button>
                                                        <button class="btn button btn-sup-spj">Supprimer</button>
                                                    </span>
                    </td>
                {%  endfor %}
            {%  endif %}
        </tr>
        <tr>
        <th colspan="2">
        <button title="Ajouter un indépendant" class="bouton btn btn-add-inde">
            <svg class="bi bi-plus-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            </svg>
        </button>
        {% if spj.heures is  not empty %}
            Indépendant</th>
            <th>Coût</th>
            <th></th>
            <th></th>
            </tr>
            {%  for heure in spj.heures %}
                <tr>
                    <td></td>
                    <td>{{  heure.independant.prenom }}</td>
                    <td>{{ heure.heure * heure.independant.salaire}}€</td>
                    <td>
                        {{ heure.commentaire }}
{#                            <input id="commentaire" name="commentaire" value="" >#}
                    </td>
                    <td>
                        <span>
                            <button class="btn btn-mdf-inter button">Modifier</button>
                            <button class="btn button btn-sup-inter">Supprimer</button>
                        </span>
                    </td>
                </tr>
            {%  endfor %}
        {%  else %}
            Aucun indépendant</th>
        {%  endif %}
    {% endfor %}
    </tbody>
</table>
