// assets/css/global.scss
$primary: #382C81;
$danger: #ED2985;
$warning: #FBBA00;
$previsionnel: #fce4ec;
$success:$previsionnel;
// the ~ allows you to reference things in node_modules
@import "C:/Data/mcoquel/jcaezalaioli/node_modules/bootstrap/scss/bootstrap";


@media screen and (max-width: 1024px){


  #navigation{
    font-size: medium;
    background-color: $danger;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
}


@media screen and (min-width: 1025px){

  .menu-item:hover, .nav-link:hover, .icon_menu:hover{
    background-color: $primary;
    font-size: 1.1rem;
    color: white!important;
  }
  .bi-plus{
    color:$danger ;
  }
  .bi-trash {
    visibility: visible !important;
  }

  .percent-text{
    font-weight: bold;
    font-size: 1rem;
  }
}
.sousProjets{
  background-color: #d6d6d6 !important;
}

h5{
  font-size: 0.8rem;
}


.icon_menu , .nav-link{
  color: $primary;

}

.navbar{
  font-size: 1rem;
  font-weight: bold;
}

.sousProjet{
  border-radius: 5px;
  background-color: #d8d8d8;
}

.bi-pencil{
  color:$danger ;
}
.bi-sort{
  color: $danger;
}

.bi-pencil:hover,.bi-plus:hover, .bi-sort:hover{
  color: $warning;
}
.bi-trash,.bi-x{
  color: $danger;
}

.bi-trash:hover,.bi-x:hover{
  color: $warning;
}
.bi-check, .bi-three-dots{
  color: $danger;
}
.bi-check:hover, bi-three-dots:hover{
  color: $warning;
}

.menu-item{
  border-radius: 5px;

}

.bi-list:hover{
  width: 2.7em;
  height: 2.7em;
}
input{
  text-align: center;
}
.bi-pencil, .bi-trash, .bi-x, .bi-plus, .bi-check, .bi-sort, .bi-three-dots{
  width: 1.5rem;
  height: 1.5rem;
}
.bi-pencil:hover,.bi-trash:hover,.bi-check:hover,.bi-x:hover,.bi-plus:hover, .bi-sort:hover, .bi-three-dots:hover{
  width: 1.7rem;
  height: 1.7rem;
}


.big-plus{
  width: 3em;
  height: 3em;
}
.big-plus:hover{
  width: 3.4em;
  height: 3.4em;
  color: $primary;
}

.create-projet{
  border-radius: 7px;
}
.create-projet , .create-projet .table-sm, #form_create > table:nth-child(1){
  background-color: #d8d8d8;
}
body{
  font-size: 0.8rem!important;
  vertical-align: middle!important;
}
.bi:hover{
  font-weight: bolder;
}

.projet-ligne:hover{
  background-color: $primary;
  color: white;
}

.input-group-text{
  background-color: $danger;
  color: white;
  border-radius: 0.50rem;
  border-color: $danger;
}

.input-filtres{
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.head-spj{
  border-bottom: 1px solid $primary;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.btn-primary:hover{
  background-color: white;
  color: $primary;
  font-weight: bold;
}
td,th{
  vertical-align: middle!important;
}
li{
  list-style: none;
}
#fiche-inde{
  font-size: large;
}
.titre:hover{
  cursor: pointer;
  font-size: 2rem;
  color: $primary;
  font-weight: bolder;
}
.titre{
  font-size: 1.7rem;
}
.table-striped tbody tr:nth-of-type(2n+1)
{
  background-color: #d8d8d8;
}
.table-hover tbody tr:hover{
  background-color: $primary;
  color: white;
}

.trie:hover{
  cursor: pointer;
  font-weight: bold;
  background-color: $primary;
  color: white;
}

.error{
  font-weight: bold;
  color: $danger;
  text-align: center;
}
.success{
  font-weight: bold;
  color: $success;
  text-align: center;
}

.titre-infos{
  font-size: 1rem;
}

.custom-select{
  font-size: 0.875rem;
  height: calc(1.5em + 0.5rem + 2px);

}

h2{
  color: $primary;
}


.previsionnel{
  background-color: $previsionnel!important;
}
.custom-switch, .custom-control-input, .custom-control-label{
  cursor: pointer;
}