
 
    <form action="" method="post">
    <div class="row">
           
            <div class="col-4">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <label for="categorie" class="input-group-text w-100" id="cate-label">Catégorie</label>
                </div>
                <select  name="categorie" id="allcategorie" class="custom-select input-filtres">
                    {% if POST == null %}
                    <option value="all">Toutes les catégorie</option>
                      {% for lacategorie in categorie %}
                    <option value="{{lacategorie.id}}">{{lacategorie.libelle}}</option>
                      {% endfor %}
                      {% else %}
                        {% if POST.categorie == "all" %}
                             <option selected="selected" value="all">Toutes les catégorie</option>
                             {% for lacategorie in categorie %}
                            <option value="{{lacategorie.id}}">{{lacategorie.libelle}}</option>
                            {% endfor %}
                        {% else %}
                        <option  value="all">Toutes les catégorie</option>
                        {% for lacategorie in categorie %}
                            {% if POST.categorie ==  lacategorie.id %}
                            
                            <option selected="selected"  value="{{lacategorie.id}}">{{lacategorie.libelle}}</option>
                            {% else %}
                            <option value="{{lacategorie.id}}">{{lacategorie.libelle}}</option>
                            {% endif %}
                        {% endfor %}
                         {% endif %}
                         

                      
                    {% endif %}
                </select>
                
            </div>
            </div>

            
   
        <div class="col-4">
        <div class="input-group input-group-sm mb-3 ">
            <div class="input-group-prepend">
                <label for="previ" class="input-group-text">Prévisionnel</label>
            </div>
            <select name="previsionnel" id="previsionnel"  class="form-control custom-select input-filtres">
                {% if POST == null %}
                <option value="all" >Tout afficher</option>
                <option selected="selected" value="0">Projets vendus</option>
                <option value="1" >Projets prévisionnel</option>
                {% else %}
                    {% if POST.previsionnel == "all" %}
                    <option value="all" >Tout afficher</option>
                <option selected="selected" value="0">Projets vendus</option>
                <option value="1" >Projets prévisionnel</option>
                    {% endif %}
                    {% if POST.previsionnel == "0" %}
                    <option value="all" >Tout afficher</option>
                <option selected="selected" value="0">Projets vendus</option>
                <option value="1" >Projets prévisionnel</option>
                    {% endif %}
                    {% if POST.previsionnel == "1" %}
                    <option value="all" selected>Tout afficher</option>
                <option value="0">Projets vendus</option>
                <option selected="selected"  value="1" >Projets prévisionnel</option>
                    {% endif %}
                {% endif %}

            </select>
        </div>
        </div>
       
 
            <div class="col-2">
            <div class="input-group input-group-sm " >
                <div class="input-group input-group-sm-2">
                <div class="input-group-prepend ">
                    <span class="input-group-text w-auto">Du</span>
                
                    <div class="input-group input-group-sm" >
                {#<input type="number" name="duannee" min="1900" max="2999" step="1" value="20{{ "now" | date("y") }}" />
                <input type="number" name="dumois" min="1" max="12" step="1" value="{{ "now " | date("m") }}" />#}
                <select name="dumois" id="month-begin"  class="form-control custom-select" style="width: min-content">
                    {% for key,lemois in Mois %}
                    {% if POST == null %}
                     {% if (lemois == "now" | date("m") ) %}
                      <option value="{{key}}" selected="selected">{{lemois}}</option>
                      {% else %}
                       <option value="{{key}}">{{lemois}}</option>
                    {% endif %} 
                    {% else %}
                      {% if (lemois == POST.dumois ) %}
                      <option value="{{key}}" selected="selected">{{lemois}}</option>
                      {% else %}
                       <option value="{{key}}">{{lemois}}</option>
                       {% endif %}
                    {% endif %}
                    {% endfor %}
                    
                </select>
                <select name="duannee" id="year-begin" class="form-control custom-select"style="width: min-content">
                    {% for key,leans in Ans %}
                    {% if POST == null %}
                        {% if (key == 20 ~"now" | date("y") ) %}
                      <option value="{{key}}" selected="selected" >{{leans}}</option>
                        {% else %}
                        <option value="{{key}}">{{leans}}</option>
                        {% endif %}  
                        {% else %}
                      {% if (leans == POST.duannee ) %}
                      <option value="{{key}}" selected="selected">{{leans}}</option>
                      {% else %}
                       <option value="{{key}}">{{leans}}</option>
                       {% endif %}
                    {% endif %}
                    {% endfor %}
                </select>
                </div>
                    </div>
                </div>
                </div>
				
                <div class="input-group input-group-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text w-auto">Au</span>
                
                    <div class="input-group input-group-sm">
                {#<input type="number" name="auannee" min="1900" max="2999" step="1" value="20{{ "now" | date("y") }}" />
                <input type="number" name="aumois" min="1" max="12" step="1" value="{{ "now + 6month " | date("m") }}" />#}
                <select name="aumois" id="month-end"  class="form-control custom-select" style="width: min-content">
                
                    {% for key,lemois in Mois %}
                    {% if POST == null %}
                      {% if (lemois == "now + 5month" | date("m") ) %}
                        <option value="{{key}}" selected="selected">{{lemois}}</option>
                      {% else %}
                        <option value="{{key}}">{{lemois}}</option>
                      {% endif %} 
                    {% else %}
                      {% if (lemois == POST.aumois ) %}
                        <option value="{{key}}" selected="selected">{{lemois}}</option>
                      {% else %}
                        <option value="{{key}}">{{lemois}}</option>
                      {% endif %}
                    {% endif %}
                    {% endfor %}
                </select>
                <select name="auannee" id="year-end"  class="form-control custom-select  input-filtres" style="width: min-content">
                
                     {% for key,leans in Ans %}
                     {% if POST == null %}
                        {% if (key == 20 ~"now" | date("y") ) %}
                      <option value="{{key}}" selected="selected" >{{leans}}</option>
                        {% else %}
                        <option value="{{key}}">{{leans}}</option>
                        {% endif %}
                        {% else %}
                      {% if (leans == POST.auannee ) %}
                      <option value="{{key}}" selected="selected">{{leans}}</option>
                      {% else %}
                       <option value="{{key}}">{{leans}}</option>
                       {% endif %}
                    {% endif %}
                    {% endfor %}
                </select>
                </div>
                    </div>
                </div>
            </div>
            </div>
           </div>
           
            <div class="row">
            <div class="col-4">
            
                <button type="submit" class="btn btn-primary" name="btnSubmit" value="envoyer">Valider</button>
                </div>
                <div class="col-4">
                 
               
                <a href="{{ path('infoComplementaire_tableau') }}" class="btn btn-primary">Voir les 6 prochains mois</a>

                
            </div>
            </div>
      
    </form>
    
    
    
