{% extends 'base.html.twig' %}

{% block title %}InfoComplementaire{% endblock %}

{%  block javascripts %}
    {{ encore_entry_script_tags('pageProjet') }}
    {{ encore_entry_script_tags('filtre') }}

{%  endblock %}

{% block body %}

   <div class="example-wrapper">
   <div class="container-fluid ">
  
   <br>

    {%  include 'info_conplementaire/filtre.html.twig' %}

    <br>

    <div class="row">
           <table class=" table table-striped responsive">
               <thead>
               <tr>
                   <div class="col-2">
                       <td><FONT size="3pt"> Nom</FONT></td>
                   </div>
                   {% for lemois in lesMois %}
                       <div class="col-2">
                           <th><FONT size="3pt"> {{lemois}}</FONT></th>
                       </div>
                   {% endfor %}
               </tr>
               </thead>
               <tr style="background-color: white">
                   <td><B><FONT size="3pt"> TOTAL</FONT></B> </td>
                   {% for key,lemois in lesMois  %}
                       {% set maVar = false %}
                       {% for unTotal in total  %}
                           {% if date('now' | date(key~'-01')) == date(unTotal.dateAction)  %}
                               {% set roi = ((unTotal.cout / unTotal.prixVente)* 100) %}
                               <td> <B><FONT size="3pt"> {{unTotal.prixVente | number_format(2,',','')}}€ <br> <span  class="{% if roi <= 37.0 %} text-success {% else %} text-danger {% endif %}" >{{ roi | number_format(2,',','') }}%</span> </FONT></B></td>
                               {% set maVar = true %}
                           {% endif %}
                       {% endfor %}
                       {% if maVar == false %}
                           <td  id="celluleVide"><B> {{0}}€ <br> <span  class="text-success" >{{0}}%</span> </B></td>
                       {% endif %}
                   {% endfor %}
               </tr>
               <tbody>
               {% for projet in tabProjets %}

               <tr>
                   <div class="col-1">

                       <td><FONT size="3pt"> {{projet.nom}} </FONT></td>

                       {% for key,lemois in lesMois  %}
                           {% set maVar = false %}
                           {% for sprojet in projet.sousProjets %}

                               {% if date('now' | date(key ~'-01')) == date(sprojet.dateAction)  %}

                                   <td> <FONT size="3pt"> {{sprojet.prixVente | number_format(2,',','')}}€ </FONT></td>
                                   {% set maVar = true %}
                               {% endif %}
                           {% endfor %}
                           {% if maVar == false %}
                               <td id="celluleVide"> </td>
                           {% endif %}
                       {% endfor %}

                   </div>

                   {% endfor %}
               </tr>

               </tbody>

           </table>



       </div>
   </div>
{% endblock %}

{% block colonneD %}

{%  endblock %}




  

