<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>App-Aioli | {% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/aioli-favicon.png') }}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        
        <link rel="stylesheet" href="/build/global.css">
        {{ encore_entry_link_tags('app') }}
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <div class="container-fluid" >
        {%  if not mobile %}
            <div class="row">
                 <div class="col-3">
                 {%  include 'navigation.html.twig' %}

                     {% block colonneG %}
                     {% endblock %}

                 </div>
                <div class="col-6">
            {%  endif %}
        {% block body %}
        {% endblock %}
            {%  if not mobile %}
             </div>
                <div class="col-3 h-auto">

                        <div class="row mb-5"></div>

                    {% block colonneD %}
                    {%  endblock %}
                    {% block colonneDB %}
                    {%  endblock %}


                </div>
            </div>
        {%  endif %}


    </div>
    <footer class="mt-5">

        {%  if mobile %}
            {%  include 'mobile-templates/navigationMobile.html.twig' %}
        {%  endif %}
    </footer>

    {{ encore_entry_script_tags('app') }}
    {%  if not mobile %}
        {{ encore_entry_script_tags('nav') }}
    {%  endif %}
     {% block javascripts %}
     {% endblock %}


    </body>
</html>