<div class="navbar mb-5" >
    <ul class="navbar-nav">
        <li class="nav-item">
            <a   href="{{ path('projet_list') }}">
                <img title="Accueil" alt="Logo Aïoli" id="logo" src="{{ asset('build/images/AIOLI_AGENCE_DIGITALE.png') }}"></a>
        </li>
        <li id="menu">
            {# element cliquable pour afficher menu #}

            <a class="nav-item" >
                <svg class="bi bi-list icon_menu" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </a>

            <nav >
                {# menu de navigation scroller#}
                <div id="scroller" class="menu-scroller" style="display: none">
                    <ul class="nav flex-column">
                        {# list des liens du site#}
                        <li class="nav-item menu-item">
                            <a class="nav-link" href="{{ path('projet_list') }}" title="Accueil">
                                <svg class="bi bi-house ml-2" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"></path>
                                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"></path>
                                </svg>
                                <span> Accueil</span>
                            </a>
                        </li>
                        {% if is_granted("ROLE_ADMIN") == true %}
                        <li class="nav-item menu-item">
                            <a class="nav-link" href="{{ path('infoComplementaire_tableau') }}" title="Accueil">
                                <svg class="bi bi-house ml-2" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                     <path fill-rule="evenodd" d="M2 1h12a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm12-1a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
  <path fill-rule="evenodd" d="M5 15V4H4v11h1zM.5 4h15V3H.5v1zM13 6.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5zm0 3a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5zm0 3a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
                                </svg>
                                <span> Synthese</span>
                            </a>
                        </li>
                        {% endif %}
                        {% if is_granted("ROLE_ADMIN") == true %}
                        <li class="nav-item menu-item" >
                            <a class="nav-link" href="{{ path('independant_list') }}">
                                <svg class="bi bi-person ml-2" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                </svg>
                                <span>Indépendant</span>
                            </a>
                        </li>
                        {% endif %}
                        {# Ajout de l element statistique dans le menu de navigation #}
                        {% if is_granted("ROLE_ADMIN") == true %}
                            <li class="nav-item menu-item" >
                                <a class="nav-link" href="{{ path('statistique_graphique') }}">
                                    <svg class="bi bi-person ml-2" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M 0.285156 9.839844 C 0.226562 9.777344 0.222656 9.710938 0.277344 9.628906 L 0.3125 9.566406 L 9.867188 9.566406 L 9.90625 9.628906 C 9.957031 9.710938 9.953125 9.777344 9.894531 9.839844 C 9.847656 9.894531 9.816406 9.894531 5.089844 9.894531 C 0.367188 9.894531 0.335938 9.894531 0.285156 9.839844 Z M 0.59375 8.429688 C 0.558594 8.394531 0.554688 8.136719 0.554688 6.03125 C 0.554688 3.78125 0.554688 3.667969 0.597656 3.625 C 0.636719 3.585938 0.746094 3.582031 1.644531 3.582031 C 2.746094 3.582031 2.703125 3.574219 2.730469 3.753906 C 2.738281 3.800781 2.742188 4.863281 2.738281 6.113281 C 2.734375 7.988281 2.726562 8.390625 2.699219 8.429688 C 2.667969 8.46875 2.5625 8.472656 1.648438 8.472656 C 0.753906 8.472656 0.625 8.46875 0.59375 8.429688 Z M 4.035156 8.421875 C 4.015625 8.386719 4.007812 7.09375 4.007812 4.433594 C 4.007812 0.65625 4.011719 0.5 4.054688 0.457031 C 4.09375 0.414062 4.199219 0.410156 5.09375 0.410156 C 6.03125 0.410156 6.097656 0.414062 6.132812 0.460938 C 6.171875 0.507812 6.171875 0.820312 6.171875 4.441406 C 6.171875 7.097656 6.164062 8.386719 6.148438 8.421875 C 6.125 8.472656 6.085938 8.472656 5.089844 8.472656 C 4.09375 8.472656 4.058594 8.472656 4.035156 8.421875 Z M 7.484375 8.429688 C 7.457031 8.390625 7.449219 8.121094 7.449219 6.910156 L 7.449219 5.433594 L 7.507812 5.382812 C 7.566406 5.332031 7.609375 5.328125 8.5625 5.335938 C 9.515625 5.34375 9.5625 5.347656 9.59375 5.398438 C 9.621094 5.441406 9.628906 5.695312 9.628906 6.917969 C 9.628906 8.21875 9.625 8.394531 9.589844 8.429688 C 9.558594 8.46875 9.425781 8.472656 8.535156 8.472656 C 7.617188 8.472656 7.515625 8.46875 7.484375 8.429688 Z M 7.484375 8.429688"/>
                                    </svg>
                                    <span>Statistique</span>
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item menu-item">
                            <a class="nav-link" href="{{ path('user_update') }}">
                                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                                    <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                                </svg>
                                <span>Modifier Profil</span>
                            </a>
                        </li>
                        <li class="nav-item menu-item">
                            <a class="nav-link text-left" href="{{ path('app_logout') }}" title="Déconnexion">
                                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-power" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"/>
                                    <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"/>
                                </svg>
                                <span>Déconnexion</span>
                            </a>
                        </li>

                    </ul>

                </div>
            </nav>
        </li>

    </ul>
</div>

{% block nav %}
    <script>
        function menu() {
            let menu = document.getElementById('scroller');
            let ds = menu.style.visibility;

            if (ds=== 'hidden')
            {
                ds= "visible";
            }else{
                ds ="hidden";
            }
            menu.style.visibility = ds;
        };
    </script>
{% endblock%}