{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Indépendants{% endblock %}
{%  block stylesheets %}
{%  endblock %}
{% block body %}
    <div style="position:absolute; top: 5%; left: 0; right: 0; bottom: 10%">
    {%  if not mobile %}

            <div class="row justify-content-center mt-5" id="titre">
            <h2 class="text-center mb-5 col-auto">
                <span>
                    <button id="create_inde" title="Ajouter un indépendant" class="bouton btn btn-add" data-nb-form="0" type="button">
                        <svg class="bi bi-plus big-plus" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                          <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                        </svg>
                    </button>
                </span>
                Ajouter un Indépendant
            </h2>
            </div>
    {%  endif %}
        <div id="message_for_independant" class="row" style="display: none"><p></p></div>
    <div class="row justify-content-center mt-5" id="div-general"
            {%  if mobile %}
                data-mobile="true"
            {% else %}
                data-mobile="false"
            {%  endif %}
    >

        <form class="col">
    <table id="inde_list" class="table table-sm table-hover table-striped text-center">
        <thead class="col-auto">
            <tr>
                <th class="trie"  data-name="nom" data-sort="0" data-column="0">
                            <span id="nom_up" >
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                                </svg>
                            </span>
                    <span id="nom_down" style="display: none">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                                </svg>
                            </span>
                    Nom
                </th>
                <th class="trie" data-name="prenom" data-sort="1" data-column="1">
                           <span id="prenom_up"  style="display: none">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                                </svg>
                            </span>
                    <span id="prenom_down" style="display: none">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                                </svg>
                            </span>
                    Prénom
                </th>
                <th class="trie" data-type="number" data-name="salaire" data-sort="1" data-column="2">
                           <span id="salaire_up"  style="display: none">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                                </svg>
                            </span>
                    <span id="salaire_down" style="display: none">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                                </svg>
                            </span>
                    Salaire
                </th>
                <th class=""></th>

            </tr>
        </thead>
        <tbody id="tbody" class="col-auto">
            {% for inde in indes %}

                <tr id="inde_{{ inde.id }}" class="col-auto inde-ligne">
                    <td id="nom_inde_{{ inde.id }}" data-nom="{{ inde.nom }}" class="col-auto">{{ inde.nom |capitalize}}</td>
                    <td id="prenom_inde_{{ inde.id }}" data-prenom="{{ inde.prenom }}" class="col-auto">{{ inde.prenom |capitalize }}</td>
                    <td id="salaire_inde_{{ inde.id }}" data-salaire="{{ inde.salaire }}" class="col-auto">{{ inde.salaire }} €</td>

                    {# modifier #}
                    <td class="col-auto">
                        <span id="btns_inde_{{ inde.id }}">
                        <button id="mdf_inde_{{ inde.id }}" class="btn bouton btn-mdf" title="Modifier" type="button">
                            <svg class="bi bi-pencil" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                                <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                            </svg>

                        </button>
                    {# suppression#}
                    <button id="sup_inde_{{ inde.id }}" title="Supprimer" class="bouton btn-valid-sup btn" type="button">
                        <svg class="bi bi-trashP" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </button>
                            </span>
                    </td>
                </tr>

            {% endfor %}
        </tbody>


    </table>
            </form>
    </div>




    </div>
{% endblock %}
{%  block javascripts %}
{{ encore_entry_script_tags('pageInde') }}
{% endblock %}